<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TAIWAN IGNITE 2023</title>
</head>
<body>
    <div class="main-container">
        <header class="header">
            <div class="branding">
                <a href="javascript://">
                    <clr-icon shape="user"></clr-icon>
                    <span class="title">TAIWAN IGNITE 2023</span>
                </a>
            </div>
        </header>

        <div class="content-container">
            <div class="content-area">
                <div class="center">
                    <h2 class="aligned-center">歡迎參加 <font color="#fa5425">TAIWAN</font> IGNITE 2023, 讓我們知道你最感興趣的是什麼!</h2>

                    <div class="separator"></div>

                    <div class="row">

                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-header">
                                    <clr-icon shape="grid-view" dir="up" class="-color6" size="24" style="color: #374E61; width: 24px; height: 24px;"></clr-icon> Prisma
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a href="https://www.paloaltonetworks.com/prisma/cloud" target="_blank"><b>程式碼到雲部署</b>, 雲源生應用安全保護！</a>
                                    </li>
                                </ul>
                                <div class="card-footer">
                                    <button class="btn btn-primary" (click)='vote("prisma")'>Vote</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-header">
                                    <clr-icon shape="cloud" dir="up" class="-color6" size="24" style="color: #d20059; width: 24px; height: 24px;"></clr-icon> Cortex
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a href="https://www.paloaltonetworks.com/cortex" target="_blank"><b>資訊安全自動化</b>, 重新定義SecOps！</a>
                                    </li>
                                </ul>
                                <div class="card-footer">
                                    <button class="btn btn-primary" (click)='vote("cortex")'>Vote</button>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-header">
                                    <clr-icon shape="compass" dir="up" class="-color6" size="24" style="color: #00A98C; width: 24px; height: 24px;"></clr-icon> Strata
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a href="https://docs.paloaltonetworks.com/network-security" target="_blank"><b>Next Gen Firewall</b>, 網絡保護最前線！</a>
                                    </li>
                                </ul>
                                <div class="card-footer">
                                    <button class="btn btn-primary" (click)='vote("strata")'>Vote</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <div class="card">
                                <div class="card-header">
                                    <clr-icon shape="dollar-bill" dir="up" class="-color6" size="24" style="color: #318700; width: 24px; height: 24px;"></clr-icon> 全部
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a href="https://www.paloaltonetworks.com/" target="_blank"><b>安全平台保護</b>, 全方位保障！</a>
                                    </li>
                                </ul>
                                <div class="card-footer">
                                    <button class="btn btn-primary" (click)='vote("everything")'>Vote</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="spacer"></div>
 

<div class="row flex-items-xs-middle">
    <div class="col-xs">
    </div>
    <div class="col-xs">
        <ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorScheme" [results]="votes" [gradient]="gradient">
        </ngx-charts-advanced-pie-chart>
    </div>
    <div class="col-xs">
    </div>
</div>



              <div class="row flex-items-xs-middle">


                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <div class="card">
                                
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a target="_blank">Number of page views so far: <b><u>{{stats.pageviews}}</u></b></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-xl-3">
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a target="_blank">App Server: <b><u>{{stats.hostname}}</u></b></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

              </div>          

                    <div class="spacer"></div>

<!--
                    <div class="label label-blue label-success">
                        Number of page views
                        <span class="badge"><%= @pageviews %></span>
                    </div>

                    <div class="label label-orange label-success">
                        Container hostname
                        <span class="badge"><%= @hostname %></span>
                    </div>
-->
                </div>
            </div>

        </div>
    </div>
</body>
</html>